{% extends "layout.html" %}

{% block title %}
    About me
{% endblock %}

{% block main %}

<section class="home-content">
    <div class="row portfolio-row justify-content-center">
        <div class="col-md-5">
            <div class="text-center">
                    <h2 class="about-header">My learning path to becoming a Data Scientist</h2>
            </div>
        </div>
    </div>
    <div class="timeline">
        <div class="container-timeline left">
            <div class="content">
                    
                        <p><a target="_blank" class="about-link" href="https://codewithmosh.com/p/python-programming-course-beginners">Complete Python Mastery</a>:
                            Discover how to use Python in automation, web development and machine learning.
                        </p>
            </div>
        </div>
        <div class="container-timeline right">
            <div class="content">
                    
                        <p><a target="_blank" class="about-link" href="https://lambdaschool.com/courses/data-science">Lambda School - Data Science</a>:
                            An intensive online data science course for a 
                            career in applied statistics and machine learning.
                            <br>
                            <br>
                            Python | Linear Algebra | SQL | Databases | 
                            Data Visualization | Statistics & Modeling | 
                            Machine Learning | Natural Language Processing
                            <br>
                            <br>
                            <a target="_blank" class="about-link" href="https://www.youracclaim.com/badges/37241836-f998-4f7b-bfbf-6c140b24c25d?source=linked_in_profile">See credential</a>
                        </p>

            </div>
        </div>
        <div class="container-timeline left">
            <div class="content">
                    

                        <p><a target="_blank" class="about-link" href="https://www.udemy.com/course/deployment-of-machine-learning-models/">Udemy - Deployement of Machine Learning Models</a>:
                            Learn how to put your machine learning models into production.
                        </p>

            </div>
        </div>
        <div class="container-timeline right">
            <div class="content">
                    
                        <p><a target="_blank" class="about-link" href="https://codewithmosh.com/p/data-structures-algorithms">
                            The Ultimate Data Structures & Algorithms Course</a>:
                            Course on different algorithms and data structures, incl. time- and space-efficiency,
                            search and sort algorithms, linear data structures and their algorithms, 
                            and non-linear data structures and their algorithms.
                        </p>
            </div>
        </div>
    </div>

    <div class="row portfolio-row justify-content-center">
        <div class="col-md-8">
            <hr/>
        </div>
    </div>

    <div class="row about-row justify-content-center">
        <div class="col-12 p-0 text-center">
                <h2 class="about-header">My skills:</h2>
        </div>
    </div>
    <div class="row row-legend justify-content-center">
        <div class="col-12 p-0 text-center">
            <p>
                1 - Basic<span class="about-legend"></span>
                2 - Novice<span class="about-legend"></span>
                3 - Intermediate
            </p>
            <p class="m-0">
                4 - Advanced<span class="about-legend"></span>
                5 - Expert
            </p>
        </div>
    </div>
    <div class="row row-legend justify-content-center about-header">
            Hover cursor over bars for more information
    </div>
    <div class="row about-row justify-content-center">
        {% for topic, one_skill in skills.items() %}
        <div class="col-lg-3 col-md-6 col-12">
            <div class="skill-cat text-center">
                <h5>{{ topic }}</h5>
            </div>
            <div class="row">
                {% for item in one_skill %}
                {% set level = item[1]/5*100 %}
                <div class="col-12 text-right">
                    <p>{{ item[0] }} - {{ item[1] }}</p>
                    <div class="skill-bar">
                        <div class="skill-spec" style="width: {{ level }}%;">
                        </div>
                        <span class="tooltiptext">{{ item[2] }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}