{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<section class="home-content">
    <div class="container p-0">
        <div class="row portfolio-row justify-content-center">
            <div class="col-12 col-md-5">
                <div class="row justify-content-center">
                    <div class="text-center">
                            <h2 class="index-header">My latest project</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row index-img text-center">
                        <h6>Movie Recommender System with Sentiment Analysis</h6>
                    </div>
                </div>
                <div class="row">
                    <a target="_blank" href="https://movies-u-like.herokuapp.com/">
                        <img class="portfolio-img" src="/static/img/project1.png">
                    </a>
                </div>
                <div class="index-bottom text-center">
                    <p>
                            <a class="about-link" href="/portfolio">This way</a> to see more of my projects.
                    </p>
                </div>
            </div>

            <div class="col-12 col-md-5">
                <div class="row justify-content-center">
                    <div class="text-center">
                            <h2 class="index-header">My latest blog post</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="row index-img text-center">
                        <h6>Airbus, the new king of the Skies?! | Data Storytelling
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <a target="_blank" href="https://lamba-navroz.medium.com/airbus-the-new-king-of-the-skies-64159fb6e95e">
                        <img class="portfolio-img" src="/static/img/project6.png">
                    </a>
                </div>
                <div class="index-bottom text-center">
                    <p>
                            And <a target="_blank" class="about-link" href="https://lamba-navroz.medium.com/">this way</a> to see more of my blog posts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
